:root{
	--spacing: 10px;
	--color: red;
	--blur:5px;
}
img{
	padding: var(--spacing);
	background-color: var(--color);
	filter: blur(var(--blur));
	float: left;
}
.row{
	width: 50%;
}
label{
	display: block;
}